@page "/"
@inject Clypeus.Services.Interfaces.Medicinals.IDrugService drugService

    <div class="container">
        
        <h1 style="margin-top:1.5rem">Drugs</h1>

        <FilterBox Debounce="1000" FilterString="@FilterString" FilterCleared="@FilterHasBeenCleared" FilterTextChanged="@FilterHasBeenChanged"></FilterBox>
      

        @if (drugs == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-1 col-md-1 col-lg-1">Code</th>
                        <th class="col-sm-2 col-md-2 col-lg-2">Atc</th>
                        <th class="col-sm-5 col-md-5 col-lg-5">Description</th>
                        <th class="col-sm-4 col-md-4 col-lg-4">Group</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var drug in drugs)
                    {
                    <tr>
                        <td>@drug.Code</td>
                        <td>@drug.AtcCode</td>
                        <td>@drug.Description</td>
                        <td>@drug.DrugGroup</td>
                    </tr>
                    }
                </tbody>
            </table>
        }

        <div id="page-section" style="margin-top:1rem;margin-bottom:1rem">
            <Paging NumberOfResults=@Count ResultsPerPage=Convert.ToInt32(Clypeus.DataTransfer.Resources.GenericResources.RecordsPerPage) PageChanged="@PageChanged"></Paging>
        </div>


    </div>

@code {
    IEnumerable<Clypeus.DataTransfer.ViewModels.Reference.DrugsViewModel> drugs;

    private string FilterString;

    public int Count = 0;

    protected override async Task OnInitializedAsync()
    {
        PerformAquistion();
    }

    protected void FilterHasBeenCleared()
    {
        FilterString = string.Empty;
        PerformAquistion();
    }

    protected void FilterHasBeenChanged(string updatedFilterString)
    {
        FilterString = updatedFilterString;
        PerformAquistion();
    }

    protected void PageChanged(int p)
    {
        PerformAquistion(p);
    }

    protected void PerformAquistion(int p = 1)
    {
        var results = drugService.GetDrugs(1, false, FilterString, p, 15, string.Empty, true).Result;
        drugs = results.Collection;
        Count = results.Count;

        InvokeAsync(() =>
        {
            base.StateHasChanged();
        });
    }


}






